#app{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #827f7f;
    color: #cec9c9;
}
